* {
  margin: 0;
}

.app {
  background-color: #e7ecf0;
}

.app__posts {
  padding: 20px;
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  border-bottom: 1px solid lightblue;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__headerImage {
  /* Keep the ratio of the image.  Prevent the image from being stretched */
  object-fit: contain;
  width: 160px;
}

.app__signup {
  display: flex;
  flex-direction: column;
}